.box
{ 
  text-align: center;
  border: midnightblue;
  border-style: solid;
  padding-left: 3%;
  padding-right: 3%;
  height: 550px;
  width: 400px;
  background-color: rgb(243, 222, 233);
}

.yellow{ background-color: gold; border-style: solid;}
.pink{ background-color: lightcoral; border-style: solid;}
.btn{ background-color: springgreen; border-style: solid;}
